<!DOCTYPE html>

<html>

        <head>
            <title>About</title>
            <link rel="icon" href="/img/icons8-partly-cloudy-day-50.png">
            <link rel="stylesheet" href="/css/styles.css">
        </head>


           <body>
         
           <div class="main-content">
               {{>header}}
                      
               {{!-- <img  width="500px" height="400px" margin="auto" src="/img/14-149383_download-wallpapers-free-lush-green.jpg">
           --}}
                   <img  class="portrait" src="/img/14-149383_download-wallpapers-free-lush-green.jpg">
             
             </div>
                {{>footer}}

                    

       
           </body>


</html>